


   
    
    
    .footer {
    background-color: gray;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    /* position: fixed; */
    bottom: 0;
    position: relative;
    
    width: 100%;
    height: min-content;
    
    text-align: center;
    height: 8%;
    
    
    
    
    
    }
    
    
    
    
    
    